# dependencies
node_modules/

# env
.env
.env.*.local

# build outputs
dist/
build/
coverage/
.next/
.out/
.cache/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
